<main class="contenedor">

    <a title="Acuerdos"
        href="http://www.uniamazonia.edu.co/documentos/docs/Consejo%20Academico/Acuerdos/2009/Acuerdo%2021.pdf"><img
            src="/img/pdf.png" style="width: 100px;" class="img-thumbnail" alt="ACUERDO 21-DE 2009" />
    </a>
<p>Acuerdo 21-2009</p></main>